## Ignore Visual Studio temporary files, build results

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# NuGet Packages
*.nupkg

# .env files
*.env

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
